.mat-grid-list {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.grid-tile-1 {
    background-color: rgb(227, 255, 127);
}

.grid-tile-2 {
  

    background-color: pink;
}

img {
    height: 100%;
    object-fit: contain;
}

.example-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}