/* .mat-card-container{ 
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
    border: 1px solid #ccc;; 
    height: 400px; 
    background: rgba(114, 186, 94, 0.05); 
} */
