<div class="product-list">
    <div class="product-list-item">
        <div class="product-list-item-image">
            <a routerLink="/product-detail">
                <img
                    [ngStyle]="{
                        width: '52px',
                        height: '105px'
                    }"
                    src="{{ product.url }}"
                    alt="{{ product.name }}"
                />
            </a>
        </div>
        <div class="product-list-item-details">
            <div class="product-list-item-name">{{ product.name }}</div>
            <div class="product-list-item-price">${{ product.price }}</div>
        </div>
        <div class="incrementer">
            <button
                mat-icon-button
                color="accent"
                (click)="onDecrement(product)"
            >
                <i class="material-icons">remove_circle_outline</i>
            </button>
            <!-- wrap in form field (input type number??) -->
            qty: {{ product.quantity }}
            <button
                mat-icon-button
                color="accent"
                (click)="onIncrement(product)"
            >
                <i class="material-icons">add_circle_outline</i>
            </button>
        </div>
    </div>
</div>
