.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: primary;
    font-size: 1rem;
}

.cart-icon {
    color: rgb(255, 255, 255);
    /* transform: scale(2); */
    margin: 01rem;
}