<mat-toolbar class="navigation" color="primary">
    <div class="logo-home-link-container">
        <div class="logo-container">
            <img
                class="logo-home-link"
                src="../../../favicon.ico"
                alt="Angular favicon logo"
            />
        </div>
        <div class="home-link-container">
            <button class="button" mat-flat-button color="primary">
                <a routerLink="/"> My Angular Store </a>
            </button>
        </div>
        <a routerLink="/cart">
            <button mat-flat-button color="primary">View Cart</button>
        </a>
    </div>
    <div class="view-cart-button-container"></div>
    <div class="cart-icon-container">
        <a routerLink="/cart"
            ><mat-icon
                class="cart-icon"
                matBadge="{{ getCartCount() }}"
                matBadgeColor="accent"
                matBadgeSize="small"
                [matBadgeHidden]="toggleBadgeViz(hidden)"
                >shopping_cart</mat-icon
            ></a
        >
    </div>
</mat-toolbar>
