<div class="product-list">
    <div class="product-list-item">
        <div class="product-list-item-image">
            <img
                (click)="onSelect(product)"
                [ngStyle]="{
                    width: '210px',
                    height: '315px'
                }"
                src="{{ product.url }}"
                alt="{{ product.name }}"
            />
        </div>
        <div class="product-list-item-details">
            <div class="product-list-item-name">{{ product.name }}</div>
            <div class="product-list-item-price">${{ product.price }}</div>
            <div class="product-list-item-description">
                {{ product.description }}
            </div>
        </div>
        <div class="product-item-button">
            <mat-dialog-actions (click)="openDialog(product)">
                <button
                    class="product-list-item-actionss"
                    mat-raised-button
                    color="primary"
                >
                    Add to cart
                </button>
            </mat-dialog-actions>
        </div>
    </div>
</div>
