<div class="product-list">
    <div class="product-list-item">
        <div class="product-list-item-image">
            <a routerLink="/product-detail">
                <img
                    (click)="onSelect(product)"
                    [ngStyle]="{
                        width: '210px',
                        height: '315px'
                    }"
                    src="{{ product.url }}"
                    alt="{{ product.name }}"
                />
            </a>
        </div>
        <div class="product-list-item-details">
            <div class="product-list-item-name">{{ product.name }}</div>
            <div class="product-list-item-price">${{ product.price }}</div>
            <div class="product-list-item-description">
                {{ product.description }}
            </div>
        </div>
        <div class="product-item-button">
            <button
                (click)="onAddToCart(product)"
                class="product-list-item-actions"
                class="product-list-item-button"
            >
                Add to cart
            </button>
        </div>
    </div>
</div>
