<div class="card">
    <div class="img-container">
        <div class="product-detail-image">
            <img
                [ngStyle]="{
                    width: '40%',
                    height: '40%'
                }"
                src="{{ product.url }}"
                alt="{{ product.name }}"
            />
        </div>
    </div>
    <div class="details-container">
        <div class="name">
            <p>{{ product.name }}</p>
        </div>
        <div class="price">
            <p>${{ product.price }}</p>
        </div>
        <div class="description">
            <p>{{ product.description }}</p>
        </div>
        <div class="quantity">
            <div class="incrementer">
                <button
                    mat-icon-button
                    color="accent"
                    (click)="onDecrement(product)"
                >
                    <i class="material-icons">remove_circle_outline</i>
                </button>
                <!-- wrap in form field (input type number??) -->
                qty: {{ product.quantity }}
                <button
                    mat-icon-button
                    color="accent"
                    (click)="onIncrement(product)"
                >
                    <i class="material-icons">add_circle_outline</i>
                </button>
            </div>
        </div>
        <div class="btn">
            <mat-dialog-actions (click)="openDialog(product)">
                <button
                    class="product-list-item-actions"
                    mat-raised-button
                    color="primary"
                >
                    Add to cart
                </button>
            </mat-dialog-actions>
        </div>
    </div>
</div>
