<mat-card class="uber-container">
    <mat-card-content>
        <mat-grid-list
            class="mat-grid-list-container"
            cols="2"
            rowHeight="1:1.3"
        >
            <mat-grid-tile class="grid-tile-1">
                <img src="{{ product.url }}" alt=" {{ product.name }}" />
            </mat-grid-tile>
            <mat-grid-tile class="grid-tile-2">
                <mat-card class="example-card">
                    <div class="title">{{ product.name }}</div>
                    <mat-card-subtitle class="price"
                        >${{ product.price }}
                    </mat-card-subtitle>

                    <mat-card-content>
                        <p>
                            {{ product.name }} is one of our best selling itesms
                            as it is handmade with only the finest bits of love
                            and salmon dust. It is a delicacy that is sure to
                            please even the most discerning of palates. It is a
                            delicacy that is sure to please even the most
                            discerning of palates. Try it today!`
                        </p>
                    </mat-card-content>
                    <div class="quantity">
                        <div class="incrementers">
                            <button
                                mat-icon-button
                                color="accent"
                                (click)="onDecrement(product)"
                            >
                                <i class="material-icons"
                                    >remove_circle_outline</i
                                >
                            </button>
                            qty: {{ product.quantity }}
                            <button
                                mat-icon-button
                                color="accent"
                                (click)="onIncrement(product)"
                            >
                                <i class="material-icons">add_circle_outline</i>
                            </button>
                        </div>
                    </div>
                    <mat-card-actions>
                        <mat-dialog-actions>
                            <button
                                class="product-list-item-actions"
                                mat-raised-button
                                color="primary"
                                (click)="openDialog(product)"
                            >
                                Add to cart
                            </button>
                        </mat-dialog-actions>
                    </mat-card-actions>
                    <div class="view-cart-button-container">
                        <a routerLink="/cart">
                            <button mat-flat-button color="accent">
                                View Cart
                            </button>
                        </a>
                    </div>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>
