.mat-grid-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.uber-container {
    margin: 1rem;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
    padding-top: 4rem;
}

img {
    height: 100%;
    object-fit: contain;
}

.example-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    height: 100%;
}
